body {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    background-color: #F9FAFC;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 38px;
}

.header {
    width: 100%;
    height: 90px;
    background-color: #fff;
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0 32px 0;
}


.header__nav {
    flex-basis: 82%;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}


.header__link {
    margin-left: 49px;
    text-decoration: none;
    color: rgba(29,31,36,0.2);
    transition:color 0.1s linear;
}

.header__link:first-child {
    margin-left: 0px;
}

.header__link:hover {
    color: #1D1F24;
}

.burger {
    padding: 9px 2px;
    background: none;
    border: 0;
    cursor: pointer;
}

.burger__item {
    display: block;
    width: 27px;
    height: 2px;
    background-color: #1D1F24;
    font-size: 0px;
    color: transparent;
    position: relative;
}

.burger__item::before,
.burger__item::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #1D1F24;
    position: absolute;
    left: 0;
    z-index: 1;
}

.burger__item::before {
    top: -6px;
}

.burger__item::after {
    bottom: -6px;
}

/* main */

.content {
    margin: 42px 0 97px;
    overflow: hidden;
}

.content__inner {
    margin: 0 -12px;
}
  
.content__item {
    display: inline-block;
    vertical-align: top;
    width: 31%;
    margin: 0 10px 10px;
}
  
.content__photo {
    width: 100%;
    margin-bottom: 19px;
  }

.content__title {
    text-decoration: none;
    font-size: 26px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.22px;
    color: #1D1F24;
    cursor: pointer;
}

.content__title:hover {
    text-decoration: underline;
}

.content__text {
    margin-top: 11px;
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(29,31,36,0.7);
}

.content__block {
    position: relative;
}

.content__plate {
    position: absolute;
    top: 78%;
    left: -1%;
    width: 120px;
    padding-right: 5px;
    background-color: #ff555c;
    border: 0px;
    height: 40px;
    line-height: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1.75px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    cursor: pointer;
    transition: background-color 0.1s linear;
    transition: font-size 0.1s linear;
}

.plate-2 {
    top: 61%;
}

.plate-3 {
    width: 104px;
} 
.plate-5 {
    width: 162px;
}

/* footer */

.footer {
    width: 100%;
    height: 160px;
    margin-top: auto;
    background-color: #1D1F24;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0;
}

.footer__copyright {
    width: 150px;
}

.coopyright__title {
    font-weight: 700;
    font-size: 24px;
    color: rgba(249,250,252,0.2);
    text-decoration: none;
    transition:color 0.1s linear;
    margin-bottom: 6px;
}

.coopyright__title:hover {
    color: rgba(255,255,255,0.7);
}

/* .coopyright__title span {
    padding: 9px 2px;
    width: 4px;
    height: 4px;
    background-color: #ff555c;
} */

.coopyright__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color:rgba(255,255,255,0.7);
}

.coopyright__text p {
    margin-top: 6px;
    margin-bottom: -3px;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
}

.footer__nav_block {
    display: flex;
    flex-direction: column;
    margin-right: 65px;
}

.footer__nav_block:last-child {
    margin-right: 0px;
}

.footer__link {
    text-decoration: none;
    color: #fff;
    margin-top: 12px;
    transition: color 0.1s linear;
}

.footer__link:hover {
    color: #ff555c;
}

.footer__contacts {
    width: 300px;
}

.input-group {
    position: relative;
    padding: 0 120px 0 0;
}

.input__style {
    position: relative;
    width: 180px;
    font-size: 14px;
    color: rgba(29,31,36,0.4);
    padding-left: 10px;
    height: 35px;
    border:0px;
}

.input__style:hover {
    outline: none;
}

.btn__subscribe {
    position: absolute;
    width: 120px;
    background-color: #ff555c;
    border: 0px;
    height: 35px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1.5px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.1s linear;
}

.btn__subscribe:hover {
    background-color: #f83b41;
}

.footer__social {
    margin-top: 10px;
}

.footer__social {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    color: rgba(255,255,255,0.7);
}

.social__item {
    text-decoration: none;
    align-items: center;
    margin-left: 15px;
}

.social__icon {
    width: 16px;
    height: 16px;
    fill: rgba(255,255,255,0.3);
    transition: fill 0.1s linear;
}

.social__icon:hover {
    fill: #ff555c;
}

/* media */

@media screen and (max-width: 1125px) {
    .footer {
        height: 267px;
    }
   
    .footer__contacts {
        margin-top: 40px;
    }
}

@media screen and (max-width: 1010px) {
    .header__nav {
        display: none;
    }
}

@media screen and (max-width: 996px) {
    .content__item {
        width: 47%;
    }

    .item-9 {
        display: none;
    }

    .footer__coopyright {
        width: 100px;
    }
}

@media screen and (max-width: 778px) {
    .container {
        max-width: 768px;
        padding: 0 20px;
    }

    .footer__nav_block {
        margin-right: 40px;       
    }   
}

@media screen and (max-width: 733px) {
    .content__item {
        width: 97%;
    }
}

@media (max-width: 710px) {
    .footer {
        height: 380px;
    }

    .footer__coopyright {
        width: 150px;
    }

    .footer__nav {
        order: 3;
    }

    .footer__social {
        order: 2;
        margin-top: 25px;
    }

    .footer__contacts {
        margin: 20px 0;
    }

    .footer__nav_block:last-child {
        margin-left: 38px;       
    }
}

@media screen and (max-width: 414px) {
    .footer {
        height: 441px;
    }
}

@media screen and (max-width: 327px) {
    .content__plate {
        display: none;
    }

    .footer {
        height: 380px;
    }

    .footer__inner {
        margin: 25px 0;
    }

    .footer__nav_block {
        margin-right: 30px;
    }
}

@media screen and (max-width: 280px) {
    .footer {
        height: 240px;
    }

    .footer__nav {
        display: none;
    }

    .input__style {
        width: 142px;
    }

    .btn__subscribe {
        width: 100px;
    }
}
